[submodule "third_party/ChibiOS"]
	path = third_party/ChibiOS
	url = https://github.com/ChibiOS/ChibiOS.git
[submodule "third_party/CppUTest"]
	path = third_party/CppUTest
	url = https://github.com/cpputest/cpputest.git
