language: c

addons:
  apt:
    packages:
      - libnewlib-arm-none-eabi
      - gcc-arm-none-eabi
      - cppcheck

script:
  - make
  - make -C test_hardware/PWM_TO_ESC/
  - make -C test_hardware/L3GD20H_MEMS_GYRO/SPI/
  - make -C test_hardware/LIS3DSH_MEMS_ACC/
  - make cppcheck
